{{ range (where .Site.RegularPages "Section" "!=" "") }}
<p>
    {{ delimit .Params.Authors ", " }} <b>{{ .Title }}</b> {{ .Params.Publication }} {{ .Params.Date.Year }}  {{ if .Params.award }} <span title="{{ .Params.award }}">🏆</span> {{ end }} {{ if .Params.url_pdf }} <a href="{{ .Params.url_pdf }}">PDF</a> {{ end }}
    {{ with .Resources.GetMatch "cite.bib" }} <a href="{{ .Permalink }}">Cite</a> {{ end }} {{ if .Params.url_slides }}
    <a href="{{ .Params.url_slides }}">Slides</a> {{ end }} {{ if .Params.url_recording }} <a
        href="{{ .Params.url_recording }}">Recording</a> {{ end }}
</p>
{{ end }}